@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        You're completed confirming email. 
        Please <a asp-controller="Account" asp-action="Login">click here to login</a>.
    </p>
</div>
