@model ForgotPasswordViewModel
@* @{
    ViewData["Title"] = "Forgot Password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Please enter your email account.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
} *@

@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "FORGOT PASSWORD";
}

<div class="p-5">
    <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
    </div>
    <form class="user" id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Email" class="form-control form-control-user" 
            aria-describedby="emailHelp" placeholder="Enter Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
    </form>
    
    <div class="text-center">
        <a class="small" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Create account</a>
    </div>
    <div class="text-center">
        <a class="small" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">Already have account? Sign in</a>
    </div>
</div>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
