@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"].</h1>
<p>
    You've set a new password, 
    <a asp-controller="Account" asp-action="Login">
        click here to login again
    </a>
</p>
