@model IdentityRole
@{
    ViewData["Title"] = "Delete role";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <p>Do you really wanna delete <strong>@Model.Name</strong></p>
            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">Role List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
